@import 'src/sass/_mixins';

:host {
  display: block;
  height: 100%;
}
.questions {
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
  min-width: 6em;
  height: 100%;
  @include transition;
}

.question {
  font-size: 0.65em;
  cursor: pointer;
  padding: 0.5em 1em;
  border-bottom: 1px dashed var(--secondary-fg2);
  &.active {
    font-weight: 900;
    background-color: var(--secondary-active);
    color: var(--secondary-active-fg);
  }
}