@mixin transition {
  transition: border-color, background-color 0.35s ease-in-out, font-size 0.135s ease-in-out;
}

@mixin heightToScroll {
  height: 100%;
  max-height: calc(100vh - 4.3125em);
  overflow-y: auto;
}