@import 'src/sass/_mixins';

:host {
  display: block;
  padding: 2em 4em;
  @include transition;
}
.question {
  font-size: 1.5em;
  font-weight: 900;
}

hr {
  border: 0;
  border-top: 1px solid var(--secondary-fg);
  margin: 1em 0;
}