<div class="question">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima optio beatae consequatur voluptatem culpa magni ad officia repudiandae et dolores officiis reprehenderit quibusdam corrupti, illo molestias eligendi animi mollitia tempora?</p>
</div>
<ol class="answers">
  <li class="answer">Lorem, ipsum dolor.</li>
  <li class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ea.</li>
  <li class="answer">Lorem ipsum dolor sit amet.</li>
  <li class="answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi quia quae cupiditate ea beatae omnis veniam laborum dolore corporis.</li>
</ol>