@import "src/sass/_mixins";

:host {
  display: block;
  padding: 2em 4em;
  @include transition;
}
.question {
  font-size: 1.5em;
  font-weight: 900;
}

.subject {
  font-size: 0.45em;
  font-weight: 100;
  // border-bottom: 1px solid var(--secondary-fg);
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  width: fit-content;
  text-transform: uppercase;
  color: var(--secondary-fg);
}
hr {
  border: 0;
  border-top: 1px solid var(--secondary-fg);
  margin: 1em 0;
  opacity: 0.35;
}

.option {
  cursor: pointer;
  &.locked {
    cursor: not-allowed;
    &:hover {
      transform: unset;
    }
    text-decoration: line-through;
  }
  &.picked {
    font-weight: 900;
    text-decoration:unset;
    position: relative;
    &.correct {
      color: var(--success, green);
      &:after {
        content: "✅";
        position: absolute;
        left: -1.5em;
      }
    }
    &.incorrect {
      color: var(--failure, red);
      &:after {
        content: "❌";
        position: absolute;
        left: -1.5em;
      }
    }
  }
  &:hover {
    transform: scale(1.0125);
  }
  button {
    width: 100%;
    text-align: left;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: inherit;
  }
}
