.questions {
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
  min-width: 6em;
  transition: 0.5s ease, color 0.5s ease;
}

.question {
  font-size: 0.65em;
  cursor: pointer;
  padding: 0.5em 1em;
  border-bottom: 1px dashed var(--secondary-fg2);
  &.active {
    font-weight: 900;
    background-color: var(--secondary-active);
    color: var(--secondary-active-fg);
  }
}