:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrap {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  p {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #454545;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 2px;
  }
}