@import 'src/sass/_mixins';

header {
  display: flex;
  padding: 1em 0.5em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-950);
  color: var(--gray-100);
  @include transition;
}
.theme-btn, .reset-btn {
  margin-left: 0.125em;
}