<ng-container *ngIf="vm$ | async as vm$">
  <ng-container *ngIf="vm$.panel && vm$.zoom && vm$.theme">

    <div class="app-outer" [ngClass]="vm$.theme" [style]="vm$.zoom">
      <qzr-app-errors></qzr-app-errors>
      <qzr-app-header></qzr-app-header>
      <section>
        <main *ngIf="vm$.panel">
          <qzr-quiz-intro *ngIf="vm$.panel === 'intro'" style="color: white">INTRO</qzr-quiz-intro>
          <qzr-quiz *ngIf="vm$.panel === 'questions'"></qzr-quiz>
          <qzr-quiz-results *ngIf="vm$.panel === 'results'" style="color: white">Results</qzr-quiz-results>
        </main>
      </section>
    </div>
  </ng-container>
</ng-container>