@import 'src/sass/_mixins';

:host, .main {
  display: block;
  height: 100%;
}

.main {
  display: flex;
  align-items: flex-start;

  background-color: var(--tertiary-bg);
  color: var(--tertiary-fg);
  transition: background-color 0.5s ease, color 0.5s ease;
}
.left {
  flex: 0 0 auto;
  @include heightToScroll;
}
.right {
  flex: 1 1 auto;
  @include heightToScroll;
}

.loading {
  display: flex;
  height: 1em;
  background: var(--blue-500);
  animation: loading 5s infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}