.main {
  display: flex;
  align-items: flex-start;

  background-color: var(--tertiary-bg);
  color: var(--tertiary-fg);
  transition: background-color 0.5s ease, color 0.5s ease;
}
.left {
  flex: 0 0 auto;
}
.right {
  flex: 1 1 auto;
}
