body {
  font-family: sans-serif;
}
p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, blockquote, figure, pre, hr, table, fieldset, form, input, textarea, p, button, select, legend {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}